<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>backgroundGradientColors</key>
			<array>
				<string>#000000</string>
				<string>#2E2E32</string>
				<string>#424247</string>
			</array>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon@2x.png</string>
			<key>packageIdentifier</key>
			<string>com.yourepo.i0s-tweak3r-betas.scrollex</string>
			<key>subtitleColor</key>
			<string>#BCBBD1</string>
			<key>titleColor</key>
			<string>#D6E9EF</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Make sure enabled button is on, or turn off to disable all features at once.</string>
			<key>label</key>
			<string>ScrolleX- Gold standard of Scroll Bars.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This is the translucent bar that appears on the side or bottom of view when scrolling either vertically or horizontally.</string>
			<key>label</key>
			<string>Scroll bar Coloring</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>colorScrollBar</string>
			<key>label</key>
			<string>Enable scrollbar color:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>fallback</key>
			<string>FFFF00</string>
			<key>key</key>
			<string>scrollBarHex</string>
			<key>label</key>
			<string>Scrollbar color:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>fallback</key>
			<string>FF0000</string>
			<key>key</key>
			<string>scrollBarShadowHex</string>
			<key>label</key>
			<string>Scrollbar shadow color:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use this slider to adjust the shadow opacity.</string>
			<key>label</key>
			<string>Shadow opacity</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>shadowOpacity</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use this slider to adjust the shadow radius.</string>
			<key>label</key>
			<string>Shadow radius</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>shadowRadius</string>
			<key>max</key>
			<integer>25</integer>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use this slider to adjust the shadow offset X.</string>
			<key>label</key>
			<string>Shadow offset X</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-3</real>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>shadowOffsetX</string>
			<key>max</key>
			<real>5</real>
			<key>min</key>
			<integer>-15</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use this slider to adjust the shadow offset Y.</string>
			<key>label</key>
			<string>Shadow offset Y</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>-3</real>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>shadowOffsetY</string>
			<key>max</key>
			<integer>15</integer>
			<key>min</key>
			<integer>-15</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>wantsScrollBorder</string>
			<key>label</key>
			<string>Enable scrollbar border:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>alpha</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>fallback</key>
			<string>000000</string>
			<key>key</key>
			<string>scrollBarBorderHex</string>
			<key>label</key>
			<string>Scrollbar border color:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use this slider to adjust the border width.</string>
			<key>label</key>
			<string>Border width</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>borderWidth</string>
			<key>max</key>
			<real>5</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use this slider to adjust the size of the scroll bar before controlling it manually. (By force touching on the bar) Increasing the width can make it easier to grab, and it has a cool reverse effect when this size is bigger then the &quot;expanded&quot; bar width.</string>
			<key>label</key>
			<string>Bar width</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>enableBarWidth</string>
			<key>label</key>
			<string>Enable bar width:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>barWidth</string>
			<key>max</key>
			<real>20</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use this slider to adjust the size of the scroll bar after you begin controlling it manually.(By force touching on the bar)</string>
			<key>label</key>
			<string>Expanded Bar width</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.scrollex/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>8</real>
			<key>defaults</key>
			<string>com.i0stweak3r.scrollex</string>
			<key>key</key>
			<string>expandedBarWidth</string>
			<key>max</key>
			<real>20</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Got bugs? Feel free to report them using Tech Support. If by chance it doesn&apos;t work, make sure you install CrashReporter from revulate.dev repo; it will install the updated dependencies.</string>
			<key>label</key>
			<string>About, Tech Support</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SCXAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>While many features either update immediately or will take affect by closing and reopening apps. A respring is reccommended to apply ALL changes system wide at once.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made with ❤️  by iOs_tweak3r. Follow on Twitter for updates on all my tweaks.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>i0s_tweak3r</string>
		</dict>
	</array>
	<key>title</key>
	<string>ScrolleX</string>
</dict>
</plist>
